<div id="<%= dom_id user %>" style="background-color: silver; max-width: 50%">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user.status %>
  </p>

</div>
